<style>

.zf_lB_Dimmer_476320{ 
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgb(0, 0, 0);
    opacity: 0.8;
    z-index: 10000000;
}

.zf_lB_Container_476320{
	position: fixed;
	background-color: white;
	margin: 0;
	margin-right: 0px;
	padding: 0;
	height: 1036px;
	width:  600px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border: 7px solid none;
	max-height: calc(100% - 60px);
	z-index: 999999;
}

p{
margin-bottom: 10px;
}

.zf_lB_Wrapper_476320{
	position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0;
    margin-top: -180px;
    z-index: 10000001;
}

.zf_main_id_476320{
	height: calc(100% - 0px);
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
}

.zf_lb_closeform_476320 {
    position: absolute;
    right: -20px;
    background: #2f2e2e;
    padding: 0;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    top: -15px;
    cursor: pointer;
    border: 2px solid #d9d9d9;
}
.zf_lb_closeform_476320:before, .zf_lb_closeform_476320:after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 19px;
    width: 2px;
    top: 7px;
    background-color: #f7f7f7;
}

.zf_lb_closeform_476320:before {
  transform: rotate(45deg);
}
.zf_lb_closeform_476320:after {
  transform: rotate(-45deg);
} 



@media screen and (min-device-width: 10px) and (max-device-width: 380px) {  
   .zf_lB_Container_476320 {
  width: 270px !important;
} 
}

@media screen and (min-device-width: 360px) and (max-device-width: 480px) {  
   .zf_lB_Container_476320 {
  width: 300px !important;
} 
}

@media screen and (min-device-width: 440px) and (max-device-width: 500px) {  
   .zf_lB_Container_476320 {
  width: 380px !important;
} 
}

@media only screen  and (min-width:500px) and (max-width:600px)  {  
 	.zf_lB_Container_476320 {
	width: 450px;
 }
}

@media only screen  and (min-width:601px) and (max-width:700px)  {  
 	.zf_lB_Container_476320 {
	width: 540px;
 }
}

@media only screen  and (min-width:700px) and (max-width:800px)  { 
.zf_lB_Container_476320 {
	width: 650px;
 }
}

@media screen and (min-device-width: 801px) and (max-device-width: 1268px) {  
   .zf_lB_Container_476320 {
  width: 750px !important;
} 
}

</style>      


<button id="zf_button_476320" style="display: none;">Form</button>



<script type="text/javascript">(function() {
	try{

			if( document.readyState == "complete" ){ 
				onloadActions_476320();
			}  else {
			  	window.addEventListener('load', function (){
			  		onloadActions_476320();
			  	}, false);
			}

			function onloadActions_476320(){
				constructDiv_476320();
				showZForm_476320();
			}

			function constructDiv_476320(){
				var iframeDiv = document.createElement("div");
				iframeDiv.setAttribute('id','K4tXxZWAkYr5g0txWTn9YDsDNLqGv7ENEiGy6Iy787U_476320');
				iframeDiv.setAttribute('class','zf_main_id_476320');

				var closeFormDiv = document.createElement("div");
				closeFormDiv.setAttribute('id','deleteform_476320');
				closeFormDiv.setAttribute('class','zf_lb_closeform_476320');
				

				var containerDiv = document.createElement("div");
				containerDiv.setAttribute('id','containerDiv_476320');
				containerDiv.setAttribute('class','zf_lB_Container_476320 ');
				containerDiv.appendChild(iframeDiv);
				containerDiv.appendChild(closeFormDiv);
				
				var wrapperDiv = document.createElement("div");
				wrapperDiv.setAttribute('class','zf_lB_Wrapper_476320');
				wrapperDiv.appendChild(containerDiv);


				var dimmerDiv = document.createElement("div");
				dimmerDiv.setAttribute('class','zf_lB_Dimmer_476320');
				dimmerDiv.setAttribute('elname','popup_box');

				var mainDiv = document.createElement("div");
				mainDiv.setAttribute('id','formsLightBox_476320');
				mainDiv.style.display = "none";
				mainDiv.appendChild(wrapperDiv);
				mainDiv.appendChild(dimmerDiv);

				document.body.appendChild(mainDiv);

			}

			function showZForm_476320(){
				var iframe = document.getElementById("K4tXxZWAkYr5g0txWTn9YDsDNLqGv7ENEiGy6Iy787U_476320").getElementsByTagName("iframe")[0];
				if(iframe == undefined ||iframe.length == 0){
					loadZForm_476320();
					
				} 
				document.getElementById("formsLightBox_476320").style.display = "block"; 
				document.body.style.overflow = "hidden";
			}

			function loadZForm_476320() {
				var iframe = document.getElementById("K4tXxZWAkYr5g0txWTn9YDsDNLqGv7ENEiGy6Iy787U_476320").getElementsByTagName("iframe")[0];
				if(iframe == undefined ||iframe.length == 0){
					var f = document.createElement("iframe");
					f.src = getsrcurlZForm_476320('https://forms.zohopublic.com/inhomegolf/form/GolfStudioDesignersGuidePDF/formperma/K4tXxZWAkYr5g0txWTn9YDsDNLqGv7ENEiGy6Iy787U');
				    
					f.style.border="none";
					f.style.minWidth="100%";
					f.style.overflow="hidden";
					var d = document.getElementById("K4tXxZWAkYr5g0txWTn9YDsDNLqGv7ENEiGy6Iy787U_476320");
					d.appendChild(f);

					var deleteForm = document.getElementById("deleteform_476320");
					deleteForm.onclick = function deleteZForm_476320() {
						var divCont = document.getElementById("formsLightBox_476320");
						divCont.style.display="none";
						document.body.style.overflow = "";

						var iframe = document.getElementById("K4tXxZWAkYr5g0txWTn9YDsDNLqGv7ENEiGy6Iy787U_476320").getElementsByTagName("iframe")[0];
						iframe.remove();
					}

					

					window.addEventListener('message', function (){
						var evntData = event.data;
						if( evntData && evntData.constructor == String ){
							var zf_ifrm_data = evntData.split("|");
							if ( zf_ifrm_data.length == 2 ) {
								var zf_perma = zf_ifrm_data[0];
								var zf_ifrm_ht_nw = ( parseInt(zf_ifrm_data[1], 10) + 15 ) + "px";
								var iframe = document.getElementById("K4tXxZWAkYr5g0txWTn9YDsDNLqGv7ENEiGy6Iy787U_476320").getElementsByTagName("iframe")[0];
								if ( (iframe.src).indexOf('formperma') > 0 && (iframe.src).indexOf(zf_perma) > 0 ) {
									var prevIframeHeight = iframe.style.height;
									if ( prevIframeHeight != zf_ifrm_ht_nw ) {
									iframe.style.minHeight = zf_ifrm_ht_nw;
										var containerDiv = document.getElementById("containerDiv_476320");
										containerDiv.style.height=zf_ifrm_ht_nw;
									}
								}
							}
						}

					}, false);
				}
			}

			

			function getsrcurlZForm_476320(zf_src) {
				try {
					
					if ( typeof ZFAdvLead !== "undefined" && typeof zfutm_zfAdvLead !== "undefined" ) {
						for( var prmIdx = 0 ; prmIdx < ZFAdvLead.utmPNameArr.length ; prmIdx ++ ) {
				        	var utmPm = ZFAdvLead.utmPNameArr[ prmIdx ];
				        	var utmVal = zfutm_zfAdvLead.zfautm_gC_enc( ZFAdvLead.utmPNameArr[ prmIdx ] );
					        if ( typeof utmVal !== "undefined" ) {
					          if ( utmVal != "" ){
					            if(zf_src.indexOf('?') > 0){
					              zf_src = zf_src+'&'+utmPm+'='+utmVal;//No I18N
					            }else{
					              zf_src = zf_src+'?'+utmPm+'='+utmVal;//No I18N
					            }
					          }
					        }
				      	}
					}

					if ( typeof ZFLead !== "undefined" && typeof zfutm_zfLead !== "undefined" ) {
						for( var prmIdx = 0 ; prmIdx < ZFLead.utmPNameArr.length ; prmIdx ++ ) {
				        	var utmPm = ZFLead.utmPNameArr[ prmIdx ];
				        	var utmVal = zfutm_zfLead.zfutm_gC_enc( ZFLead.utmPNameArr[ prmIdx ] );
					        if ( typeof utmVal !== "undefined" ) {
					          if ( utmVal != "" ){
					            if(zf_src.indexOf('?') > 0){
					              zf_src = zf_src+'&'+utmPm+'='+utmVal;//No I18N
					            }else{
					              zf_src = zf_src+'?'+utmPm+'='+utmVal;//No I18N
					            }
					          }
					        }
				      	}
					}
				}catch(e){}
				return zf_src;
			}
			
			
	}catch(e){}
})();
</script>		
